*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --fondo-principal: #121212;
    --verde-azul: #128C7E;
    --verde-head: #075E54;
    --blanco-text: #ECE5DD;
    --gris-back: #161C20;
    --azul: #34B7F1;

    --primary-font: "Roboto", sans serif;
}

body{
    background-color: var(--fondo-principal);
    padding: 30px;
}

.app{
    background-color: var(--verde-azul);
    display: grid;
    grid-template-columns: 350px 1fr;
}

/* estilos aside */
aside{
    background-color: beige;
    color: white;
}

aside header{
    background-color: var(--verde-head);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;

}
.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img{
    gap: 5px;
    width: 40px;
    border-radius: 50%;
}

.perfil h2{
    font-size: 15px;

}
.botones{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.botones button{
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #075E54;
    color: #ECE5DD;
    transition: transform .2s;
}

.botones button svg{
    width: 20px;
}

.botones button:hover{
    background-color: var(--verde-azul);
    transform: translateY(-4px);
}

/* search */
.busqueda{
    background-color: var(--verde-azul);
    padding: 10px;
}

.busqueda form input{
    background-color: var(--verde-head);
    width: 100%;
    display: block;
    border: none;
    padding: 3px;
    border-radius: 3px;
    outline: none;
    color: var(--blanco-text);
}


/* Chats hay que modificar los colores, quedan horripilantes */
.chats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-user{
        background-color: var(--verde-azul);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat-user img{
    border-radius: 50%;
    width: 50px;
}

.chat-user:hover{
    background-color: var(--verde-head);
    cursor: pointer;
}

/* Header del chat*/

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.perfil-chat{
    display: flex;
    align-items: center;
    gap: 12px;
}

.perfil-chat img{
    width: 50px;
    border-radius: 50%;
}

.nombre {
    display: flex;
    flex-direction: column;
}

.nombre h3 {
    margin: 0;
    color: black;
}

.nombre p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.botones-panel {
    display: flex;
    gap: 10px;
}

.botones-panel button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #128C7E;
    color: #ECE5DD;
    transition: transform .2s;
}

.botones-panel{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.botones-panel button svg{
    width: 20px;
}

.botones-panel button:hover{
    background-color: #075E54;
    transform: translateY(-4px);
}
/* chat */

.chat-panel{
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.mensajes {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.mensaje {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .238);
    padding: 10px;
    width: 30%;
}

.mensaje .hora{
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    text-align: end;
}

.enviado{
    align-self: end;
    background-color: turquoise;
}

/* footer estilos */

footer {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

footer button{
    width: 30px;
    height: 30px;
    padding: 5px;
}

footer svg{
    width: 100%;
    height: 100%;
}

footer .adjunto{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--verde-azul);
    transition: color .2s;
}

footer .adjunto:hover{
    color: var(--gris-back);
}

footer form{
    display: flex;
    align-items: center;
    flex: 1;
}

footer textarea{
    padding: 8px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
}

footer .enviar {
    background-color: rgb(113, 30, 30);
    border: none;
    color: black;
    width: 50px;
    height: 35px;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s;
}

footer .enviar:hover{
    background-color: thistle;
    transform: scale(1);
}

@media (max-width:900px){
    .app{
        grid-template-columns: 1fr;
    }
    aside {
        display: none;
    }
}