* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

/* variables */

:root {
    --primary-font: "Roboto", sans serif;
}

body {
    background-color: #d4ffc9;
    padding: 30px;
}

.app {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 90vh;
}

/* estilos aside */

aside {
    background-color:  #ffffff;
}

aside header {
    background-color: #075E54;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    color: #ffffff;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img {
    gap: 5px;
    width: 40px;
    border-radius: 50%;
}

.perfil h2 {
    font-size: 15px;
}

.botones {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.botones button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #075E54;
    color: #ECE5DD;
    transition: transform .2s;
}

.botones button svg {
    width: 20px;
}

.botones button:hover {
    background-color: #075E54;
    transform: translateY(-4px);
}

/* search */

.busqueda{
    background-color: #ffffff;
    padding: 10px;
}

.busqueda form input {
    background-color: #ffffff;
    width: 100%;
    display: block;
    border: solid black 1px;
    padding: 8px;
    border-radius: 15px;
    outline: none;
}


/* Chats hay que modificar los colores, quedan horripilantes */

.chats ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-user {
    background-color: #ffffff;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat-user img {
    border-radius: 50%;
    width: 50px;
}

.chat-user:hover {
    background-color: #ededed;
    cursor: pointer;
}

/* Header del chat*/

.chat-header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.perfil-chat {
    display: flex;
    align-items: center;
    gap: 12px;
}

.perfil-chat img {
    width: 50px;
    border-radius: 50%;
}

.nombre {
    display: flex;
    flex-direction: column;
}

.nombre h3 {
    margin: 0;
    color: black;
}

.nombre p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.botones-panel {
    display: flex;
    gap: 10px;
}

.botones-panel button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #3d3d3d;
    transition: transform .2s;
}

.botones-panel {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.botones-panel button svg {
    width: 20px;
}

.botones-panel button:hover {
    background-color: #d0d0d0;
    transform: translateY(-4px);
}

/* chat */

.chat-panel {
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: #ECE5DD;
}

.mensajes {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.mensaje {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .238);
    padding: 10px;
    width: 30%;
}

.mensaje .hora {
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    text-align: end;
}

.enviado {
    align-self: end;
    background-color: #d8f6c0;
}

/* footer estilos */

footer {
    display: flex;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

footer button {
    width: 30px;
    height: 30px;
    padding: 5px;
}

footer svg {
    width: 100%;
    height: 100%;
}

footer .adjunto {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
    transition: color .2s;
}

footer .adjunto:hover {
    color: black;
}

footer form {
    display: flex;
    align-items: center;
    flex: 1;
}

footer textarea {
    padding: 8px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
}

footer .enviar {
    background-color: #128C7E;
    border: none;
    color: black;
    width: 50px;
    height: 35px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

@media (max-width:900px){
    .app{
        grid-template-columns: 1fr;
    }
    aside {
        display: none;
    }
}